<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.rhythmmini">
  <application
      android:label="RhythmMini"
      android:icon="@android:drawable/sym_def_app_icon"  <!-- ← ここを内蔵アイコンに変更 -->
      android:allowBackup="true"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

    <activity
        android:name=".MainActivity"
        android:exported="true"                            <!-- ← これを追加（必須） -->
        android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

  </application>
</manifest>
